<!--{if $_G['uid']}-->
<div id="um" class="">
	<div id="du_login" onmouseover="showMenu({'ctrlid':'du_login'})" hidefocus="true" class="du_user_img y">
		<a href="home.php?mod=space&uid=$_G[uid]">
			<!--{avatar($_G[uid],small)}--> 
		</a>
		<span class="du_header_arrow y"></span>
	</div>
	<div id="du_login_menu" style="display: none; background: #fff;" class="y">
		<li>
			<strong >
			<a class="vwmy{if $_G['setting']['connect']['allow'] && $_G[member][conisbind]} qq{/if}" href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">
				{$_G[member][username]}
			</a>
		   </strong>
		</li>
		<li>
		  <!--{if $_G['group']['allowinvisible']}-->
		      <a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}"
				onclick="ajaxget(this.href, 'loginstatus');return false;" class="xi2"></a>
		
		    <!--{/if}-->
	    </li>	
		<!--{hook/global_usernav_extra3}-->
		<li>
				<a href="home.php?mod=spacecp&ac=usergroup" > $_G[group][grouptitle]
					<!--{if $_G[member]['freeze']}--><span class="xi1">({lang freeze})</span>
					<!--{/if}--></a>
		</li>
		<li>
				<a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}:$_G[member][credits]</a>
		</li>
		<!--{hook/global_usernav_extra1}-->
		<!--{hook/global_usernav_extra4}-->
		<li>
			<a href="forum.php?mod=guide&view=my">{lang mypost}</a>
		</li>
		<li>
			<a href="home.php?mod=space&do=favorite&view=me">{lang favorite}</a>
		</li>
		<li>
			<a href="home.php?mod=space&do=friend">{lang friends}</a>
		</li>
		<li>
			<a href="home.php?mod=spacecp">{lang setup}</a>
		</li>
		<li>
			<a href="home.php?mod=space&do=pm" id="pm_ntc" {if $_G[member][newpm]} class="new"{/if}>{lang pm_center}</a>
		</li>
		<li>
		   <a href="home.php?mod=space&do=notice" id="myprompt" class="a " title="{langremind}">
			   <!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}-->提醒
		   </a>
		</li>
		<!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}-->
		<a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a>
		<!--{/if}-->
		<li>
		  <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
		  <a href="portal.php?mod=portalcp">
			<!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}
			<!--{else}-->{lang portal_block_manage}
			<!--{/if}--></a>
		  <!--{/if}-->
	    </li>
		<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
		  <span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
		  <!--{/if}-->
		  <li>
		  <!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
		  <a href="admin.php" target="_blank">{lang admincp}</a>
		   <!--{/if}-->
	    </li>
		<!--{hook/global_usernav_extra2}-->
		<li>
			<!-- 打开DIY面板 $diynav  -->
			<!--{if check_diy_perm($topic)}-->
				<a href="javascript:openDiy();" title="{lang open_diy}"><strong>DIY</strong></a>
			<!--{/if}-->
		</li>
	    <li>
		<a href="member.php?mod=logging&action=logout&formhash={eval echo formhash();}">{lang logout}</a>
	    </li>
	</ul>
	</div>
</div>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
<p>
	<strong><a id="loginuser" class="noborder">
			<!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>
	<a href="member.php?mod=logging&action=login"
		onclick="showWindow('login', this.href)">{lang activation}</a>
	<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
</p>
<!--{elseif !$_G[connectguest]}-->
<div class="du_login y">
	<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">登录</a> |
	<a href="member.php?mod={$_G[setting][regname]}">注册</a>
</div>
<!--{else}-->
<div id="um">
	<div class="avt y">
		<!--{avatar(0,small)}-->
	</div>
	<p>
		<strong class="vwmy qq">{$_G[member][username]}</strong>
		<!--{hook/global_usernav_extra1}-->
		<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
	</p>
	<p>
		<a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}: 0</a>
		<span class="pipe">|</span>{lang usergroup}: $_G[group][grouptitle]
	</p>
</div>
<!--{/if}-->