<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<link rel="stylesheet" href="./template/mystyle/js/swiper-bundle.min.css">
<div class="wp">
  <!--[diy=diy1]-->
  <div id="diy1" class="area"></div>
  <!--[/diy]-->
</div>
<div class="du_mn">
  <div class="du_sd_l z">
    <div class="du_banner z">
         <!--[diy=du_diy1]--><div id="du_diy1" class="area"></div><!--[/diy]-->
    </div>
    <div class="du_banner_4 z">
      <!--[diy=du_diy6]--><div id="du_diy6" class="area"></div><!--[/diy]-->
    </div>
    <div class="du_latest z">
      <!--[diy=du_diy2]--><div id="du_diy2" class="area"></div><!--[/diy]-->
      <p style="text-align: center;"><a href="forum.php" > >> 没有更多了，进入论坛更精彩 << </a></p>
    </div>
  </div>
  <div class="du_sd_r y">
    <div class="du_sec z">
      <!--[diy=du_diy4]--><div id="du_diy4" class="area"></div><!--[/diy]-->
    </div>
    
    <div class="du_ran z">
      <!--[diy=du_diy7]--><div id="du_diy7" class="area"></div><!--[/diy]-->
    </div>

    <div class="du_hot z">
      <!--[diy=du_diy3]--><div id="du_diy3" class="area"></div><!--[/diy]-->
    </div>
    
    <div class="du_adv z">
       <!--[diy=du_adv_diy1]--><div id="du_adv_diy1" class="area"></div><!--[/diy]-->
    </div>

    <div class="du_adv z">
      <!--[diy=du_adv_diy2]--><div id="du_adv_diy2" class="area"></div><!--[/diy]-->
   </div>
  </div>

</div>
<div class="cl"></div>

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->